* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url('bg-intro-desktop.png');
  background-color: lightcoral;
  font-family: 'Poppins', sans-serif;
}

.main-container {
  display: flex;
  height: 100vh;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 25px;
  text-align: center;
  color: white;
}

h1 {
  font-size: 40px;
  padding: 15px;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(235, 241, 241);
  width: 500px;
  height: 500px;
  border-radius: 8px;
}

input,
button {
  padding: 10px;
  width: 450px;
  margin: 25px;
  border-radius: 10px;
  border: 2px solid rgb(250, 243, 243);
  outline-color: none;
}

button {
  background-color: hsl(154, 59%, 51%);
  color: #fff;
}

.error {
  color: red;
  font-size: 16px bold;
}

@media (max-width: 930px) {
  .main-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-bottom: 5px;
  }
  .left-side {
    text-align: center;
    width: auto;
    padding: 0px;
    margin-bottom: 10px;
  }
  .right-side {
    width: auto;
  }
  h1,
  p {
    width: fit-content;
    height: auto;
    flex-wrap: wrap;
    margin: auto;
  }
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 12px;
  }
  form {
    width: 250px;
  }
  input,
  button {
    width: 230px;
  }
}
